:root {
  --primary-blue: #2d3142;
  --grey: #bfc0c0;
  --white: #ffffff;
  --red: #ef8354;
  --secondary-blue: #4f5d75;
  --black: #000000;
}

/* Reset estilos del navegador */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Media Laptop */
.container-header {
  background-color: var(--primary-blue);
  width: 76.8rem;
  height: 7rem;
  margin: 7rem auto 4rem;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
.container-header__title {
  color: var(--red);
  font-size: xx-large;
  font-style: italic;
}
.container-main {
  width: 76.8rem;
  height: 14rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 37rem 37rem;
  grid-template-rows: 6rem 6rem;
  justify-content: space-evenly;
  align-content: space-around;
}
.container-main__link {
  background-color: var(--grey);
  color: var(--primary-blue);
  text-align-last: center;
  line-height: 6rem;
  text-decoration: none;
  font-size: x-large;
  border-radius: 1rem;
}
.container-main__link:hover {
  background-color: var(--red);
  font-weight: bold;
}

/* Media Laptop L */
@media (min-width: 1025) {

}

