:root {
  --primary-blue: #2d3142;
  --grey: #bfc0c0;
  --white: #ffffff;
  --red: #ef8354;
  --secondary-blue: #4f5d75;
  --black: #000000;
}

/* Reset estilos del navegador */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Media Mobile*/
.container-header {
  background-color: var(--primary-blue);
  width: 46rem;
  height: 7rem;
  margin: 7rem auto 4rem;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
.container-header__title {
  color: var(--red);
  font-size: xx-large;
  font-style: italic;
}
.container-main {
  width: 46rem;
  height: 30rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 46rem;
}
.container-main__link {
  background-color: var(--grey);
  color: var(--primary-blue);
  height: 6.5rem;
  line-height: 6.5rem;
  text-align-last: center;
  text-decoration: none;
  font-size: x-large;
  border-radius: 1rem;
}
.container-main__link:hover {
  background-color: var(--red);
  font-weight: bold;
}

/* Media Laptop */
@media (min-width: 1280px) {
  .container-header {
    width: 56rem;
  }
  .container-main {
    width: 56rem;
    grid-template-columns: 56rem;
    justify-content: space-between;
    align-content: space-between;
  }
}

/* Media Laptop L */
@media (min-width: 1600px) {
  .container-header {
    width: 86rem;
  }
  .container-main {
    width: 86rem;
    height: 15rem;
    grid-template-columns: 42rem 42rem;
  }
}