:root {
  --primary-blue: #2d3142;
  --grey: #bfc0c0;
  --white: #ffffff;
  --red: #ef8354;
  --secondary-blue: #4f5d75;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Media Mobile */
.headboard {
  width: 100%;
  height: 5rem;
  background-color: var(--primary-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.headboard__title {
  margin: 0;
  color: var(--white);
}
.main-container {
  width: 31rem;
  margin: 1rem auto;
  padding: 1rem;
}
.main-container__article {
  width: 100%;
  text-align: center;
}
.main-container__title {
  width: 100%;
  font-weight: bold;
  font-size: medium;
  display: inline-block;
  border-bottom: 2px solid var(--secondary-blue);
}
.main-container__link {
  width: 100%;
  height: 5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Tablet */
@media (min-width: 426px) {
}

/* Media Laptop */
@media (min-width: 769px) {
}
