:root {
  --primary-blue: #2d3142;
  --grey: #bfc0c0;
  --white: #ffffff;
  --red: #ef8354;
  --secondary-blue: #4f5d75;
  --black: #000000;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Media Mobile */
.headboard {
  width: 100%;
  height: 5rem;
  background-color: var(--primary-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.headboard__title {
  margin: 0;
  color: var(--white);
}
.main-container {
  width: 31rem;
  margin: 1rem auto;
  padding: 1rem;
}
.main-container__article {
  width: 100%;
  text-align: center;
}
.main-container__title {
  width: 100%;
  font-weight: bold;
  font-size: medium;
  display: inline-block;
  border-bottom: 2px solid var(--secondary-blue);
}
.main-container__link {
  width: 100%;
  height: 5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
}
.main-container__link:hover {
  color: var(--red);
  font-size: 1.4rem;
  border-bottom: 1px solid var(--red);
}
.footer-container {
  width: 31rem;
  height: 4rem;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid var(--primary-blue);
  background-color: var(--primary-blue);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container__date {
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
}

/* Media Tablet */
@media (min-width: 426px) {
  .main-container {
    width: 41.5rem;
  }
  .main-container__title {
    height: 3rem;
    border: 2px solid var(--secondary-blue);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-container__link {
    border: 1px solid var(--grey);
    border-radius: 1rem;
    margin-top: 1rem;
  }
  .main-container__link:hover {
    border: 1px solid var(--red);
  }
  .footer-container {
    width: 41.5rem;
  }
}

/* Media Laptop */
@media (min-width: 769px) {
}
