:root {
  --primary-blue: #2d3142;
  --grey: #bfc0c0;
  --red: #ef8354;
  --sizeText: 1.4rem;
}

/* Reset estilos del navegador */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Media Mobile */
.container-header {
  background-color: var(--primary-blue);
  width: 100%;
  height: 5rem;
}
.container-header__box {
  width: 46rem;
  height: 5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.container-header__title {
  color: var(--red);
  font-size: x-large;
  margin: 0;
}
.container-main {
  width: 46rem;
  margin: 1rem auto;
}
.container-main__title {
  width: 100%;
  font-size: x-large;
  display: inline-block;
}
.container-main__topic {
  display: inline-block;
  font-size: large;
  font-weight: bold;
  margin: 1rem 0;
}
.container-main__topic--code {
  margin: 0;
}
.container-main__subtopic {
  font-size: var(--sizeText);
  margin: 1rem 0;
}
.container-main__text {
  font-size: var(--sizeText);
}
.container-main__figure {
  margin: 1rem 0;
}
.container-main__image {
  width: 100%;
}
.container-main__image--code {
  border-radius: 1rem;
}
.container-main__description {
  text-align: center;
  font-size: var(--sizeText);
  font-style: italic;
}
.container-main__list {
  font-size: var(--sizeText);
  margin-left: 2rem;
}
