:root {
  --primary-blue: #2d3142;
  --grey: #bfc0c0;
  --red: #ef8354;
  --sizeText: 1.4rem;
}

/* Reset estilos del navegador */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Media Mobile */
.container-header {
  background-color: var(--primary-blue);
  width: 100%;
}
.container-header__box {
  width: 42rem;
  height: 5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-header__title {
  color: var(--red);
  font-size: x-large;
  margin: 0;
}
.container-header__enlace {
  background-color: var(--grey);
  color: var(--primary-blue);
  font-size: var(--sizeText);
  width: 8rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 1rem;
  text-decoration: none;
}
.container-header__enlace:hover {
  background-color: var(--red);
  font-weight: bold;
}
.container-main {
  width: 42rem;
  margin: 1rem auto;
}
.container-main__title {
  width: 100%;
  font-size: x-large;
}
.container-main__topic {
  display: block;
  font-size: large;
  font-weight: bold;
  margin: 1rem 0;
}
.container-main__topic--subtopic {
  font-size: var(--sizeText);
}
.container-main__text {
  font-size: var(--sizeText);
  margin: 1rem 0;
}
.container-main__text--bold {
  margin: 0;
  font-weight: bold;
}
.container-main__picture {
  display: block;
  margin: 1rem 0;
}
.container-main__image {
  width: 100%;
  border-radius: 1rem;
}
.container-main__description {
  display: block;
  text-align: center;
  font-size: var(--sizeText);
  font-style: italic;
}
.container-main__list {
  font-size: var(--sizeText);
  margin: 1rem 0rem 1rem 2rem;
}
.container-footer {
  background-color: var(--primary-blue);
  width: 100%;
}
.container-footer__box {
  width: 42rem;
  height: 4rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-footer__enlace {
  color: var(--grey);
  font-size: var(--sizeText);
  text-decoration: none;
}
.container-footer__enlace:hover {
  text-decoration: underline;
}
