body {
    background-color: #16235A;
    max-width: 1500px;
    margin: 25px auto auto auto;
}

header {
    background-color: #f2eaed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav {
    background-color: #a4a4bf;
    display: flex;
    padding: 5px;
    align-items: center;
    height: 50px;
}

.container {
    display: flex;
}

.container article {
    background-color: #888C46;
    padding: 10px;
    width: 80%;
}

.container aside {
    background-color: #f2eaed;
    padding: 10px;
}

footer {
    background-color: #a4a4bf;
    display: flex;
    max-width: 1500px;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto auto 25px auto;
}