:root {
    --primary-blue: #2D3142;
    --grey: #BFC0C0;
    --white: #FFFFFF;
    --red: #EF8354;
    --secondary-blue: #4F5D75;
}
* {
    margin: 0;
}
body {
    font-family: 'Roboto Mono', monospace;
}
.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
}
.header-container {
    background-color: var(--primary-blue);
    color: var(--white);
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
}
.article-container {
    width: 676px;
    margin-bottom: 24px;
}
.article-container span {
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    margin: 24px 0;
}
.section-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 24px;
}
.section-terminal-y-comandos {
    border: 1px solid var(--grey);
    border-radius: 8px;
    width: 300px;
    height: 104px;
    padding: 12px;
}
.section-terminal-y-comandos a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
}
.section-terminal-y-comandos a:hover {
    text-decoration: 1px solid underline;
}
.section-terminal-y-comandos p {
    font-weight: 300;
}
.section-git-y-github {
    border: 1px solid var(--grey);
    border-radius: 8px;
    width: 300px;
    height: 104px;
    padding: 12px;
}
.section-git-y-github a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
}
.section-git-y-github a:hover {
    text-decoration: 1px solid underline;
}
.section-git-y-github p {
    font-weight: 300
}
.section-html-y-css {
    border: 1px solid var(--grey);
    border-radius: 8px;
    width: 300px;
    height: 104px;
    padding: 12px;
}
.section-html-y-css a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
}
.section-html-y-css a:hover {
    text-decoration: 1px solid underline;
}
.section-html-y-css p {
    font-weight: 300
}
.footer-container {
    background-color: var(--primary-blue);
    color: var(--white);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}
@media  (max-width: 700px) {
    .article-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-container {
        grid-template-columns: auto;
        gap: 24px;
    }
}