/* Media Mobile 2 */
@media (min-width: 580px) {
  .container-header {
    width: 56rem;
  }
  .container-main {
    width: 56rem;
    grid-template-columns: 56rem;
    justify-content: space-between;
    align-content: space-between;
  }
}
